<!-- <body class="app-body">
  <div class="layout">
    <main class="page">

      <header class="topbar">
        <h1 class="page-title">Soporte</h1>
        <div class="user-mini">
          <img alt="Avatar de usuario" class="user-mini__avatar"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuCzzksBMnwiR7l4TxaU5wQcbDNJUucmILoxjBVtzLNjJ04UtzAgDFe3KcfbNI_KkZC-wG8RJIk0pel4aCZXTxZmNb8xuZzfqLwaBV8Iqe8vaZmaudCtls8bV3tm8dN807m562cZkcfHxGnF65ctqx9Fw4Ad8puybFzt0sH2bwkAoY8p6dIspcMlSiXJEtqCS4rNGnlZjHT8LVg-Ji_HcaiNbxCO_mwvCzy4kpfAW4r-7ARV74G-lydSgt4mxXZTGKIRtMfVZoP-eHMK" />
          <span class="user-mini__name">
            {{ usuario.nameUsuario }}
          </span>
        </div>

      </header>

      <div class="card">


        <div class="profile">

          <div class="support-container">

            <h3 class="support-title">Reporta los inconvenientes</h3>
            <p class="support-subtitle">
              Cuéntanos qué ocurrió para que podamos ayudarte lo más rápido posible.
            </p>

            <form class="support-form"  [formGroup]="form">

              <div class="form-group">
                <label for="tituloSoporte">Asunto</label>
                <input formControlName="tituloSoporte" id="tituloSoporte" type="text" placeholder="Ej. Error al generar una predicción" />
              </div>

              <div class="form-group">
                <label for="descripcionSoporte">Descripción</label>
                <textarea  formControlName="descripcionSoporte" id="descripcionSoporte" rows="4"
                  placeholder="Describe el problema, qué estabas haciendo y si apareció algún error…"></textarea>
                <small class="help-text">
                  Mientras más detalle brindes, más rápido podremos ayudarte.
                </small>
              </div>

              <div class="form-actions">
                <button type="button" class="btn btn-ghost">Cancelar</button>
                <button type="submit" class="btn btn-primary" (click)="aceptar()">Enviar reporte</button>
              </div>

            </form>
          </div>


        </div>

      </div>
    </main>
  </div>
</body> -->